<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="2560" /> <!--1344, 2560, 3840, 4416 -->
    <param name="image_height" value="720" /> <!--376,720,1080,1242 -->
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  <node name="zed_image_separate_node" pkg="usb_cam" type="zed_image_separate_node" output="screen" >
  </node>
</launch>
